body
{
    font-family :'EB Garamond', serif, 'League Gothic Regular', 'Helvetica', 'Sans-Serif';
    padding     : 3px 3px 3px;
    font-size   : 32px;
    text-align  : center;
    background  : #FFFFFF;

    /* unselectable text*/
    -webkit-user-select : none; /* Chrome/Safari */
    -moz-user-select    : none; /* Firefox */
    -ms-user-select     : none; /* IE10+ */
    -o-user-select      : none;
    user-select         : none;
}

@font-face
{
    font-family: 'EB Garamond', serif, 'League Gothic Regular';
    src: url('leaguegothic-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

#pack_box
{
   padding 10px 10px 10px;
   padding: 0px;
   max-width: 1620px;
   min-height: 632px;
   margin: auto;
   display: block
}

#pack_text_container
{
   padding: 0px;
   margin: auto;
   display: block

}

#collection_container
{
   padding-top: 2px;
   max-width: 1600px;
   margin: auto;
   clear:both;
   display: block;
}
#bot_collection_container
{
   padding-top: 2px;
   max-width: 1600px;
   margin: auto;
   clear:both;
   display: block;
}

#bot_collection_container
{
   padding-top: 2px;
   max-width: 1600px;
   margin: auto;
   clear:both;
   display: block;
}
#deck_container{
  max-width: 1828px;
  margin: auto;
  clear:both;
  display: block;
}


my_p {
  font-size: 24px;
  text-align: center;
  background: #FFFFFF;
}

h1 {
  padding: 3px 3px 3px;
  font-size: 60px;
  text-align: center;
  background: #FFFFFF;
  margin-top:0px;
  margin-bottom:0px;
}

h2 {
  padding: 3px 3px 15px;
  font-size: 30px;
  text-align: center;
  background: #FFFFFF;
  margin-top:0px;
  margin-bottom:0px;
}

a:active{
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  color: black;
  text-decoration: none;
}
a:link{
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  color: black;
  text-decoration: none;
}
a:visited{
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  color: black;
  text-decoration: none;
}
a:hover{
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  color: white;
  text-decoration: none;
}
#register a:link
{
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  color: black;
  text-decoration: none;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 5px;
  list-style: none;
/*
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
*/
}
ul li {
  font: 40px;
  display: inline-block;
  /*margin-right: -4px;*/
  position: relative;
  /*padding: 15px 20px;*/
  padding: 10px;
  margin 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #CFCFCF;

}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 5;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li {
  font-size: 40px;
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  z-index: 1;

}
ul li ul li:hover { background: #666; }

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
ul li:active ul {
  display: block;
  opacity: 1;
  visibility: visible;
}



/* table formatting */
table { 
color: #333;
list-style-type: none;
/*width: 90%;*/ 
border-collapse: 
collapse; border-spacing: 0;
white-space: nowrap;
/*margin-left: auto;
margin-right: auto;*/
margin:auto;
cursor: default;
}
td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
padding: 1px 7px 1px;
white-space: nowrap;
cursor: default;
}
th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
white-space: nowrap;
cursor: default;
}
td {
background: #FAFAFA;
text-align: center;
white-space: nowrap;
cursor: default;
cursor: default;
}
/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   
/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  
tr td:hover { opacity: .5;}
/*tr td:hover { background: #666; color: #FFF; }*/ /* Hover cell effect! */

b {
    font-weight: bold;
}

.methodology p { text-indent: 1em; padding-bottom: 10px; }

.methodology, #about_text{
  font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;
  align:left;
  max-width: 1250px;
  margin:auto;
  font-size: 32px;
  background:#FFFFFF;
  line-height: 120%;
  padding:100px;

  /* border effects */
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;

  /* do it twice for firefox */
  -webkit-user-select: text; /* Chrome/Safari */        
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+ */
  -o-user-select: text;
  user-select: text;
  -webkit-user-select: text; /* Chrome/Safari */        
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+ */
  -o-user-select: text;
  user-select: text;
}


#deck_text{
  font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;
  align:left;
  font-size: 25px;
  text-align: left;
  margin: 20px;
  padding: 20px;
  background:#FFFFFF;
  line-height: 110%;

  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;


  display: inline-block;
  /*selectable*/
  -webkit-user-select: text;/* Chrome/Safari */        
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+ */
  -o-user-select: text;
  user-select: text;
}

.methodology h3, #about_text h3{
  font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;
  align:left;
  max-width: 1250px;
  margin:auto;
  font-size: 48px;
  line-height: 120%;

  -webkit-user-select: text; /* Chrome/Safari */        
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+ */
  -o-user-select: text;
  user-select: text;
}

.methodology h4, #about_text h4{
  font-family: 'Roboto','Helvetica Neue',Helvetica,sans-serif;
  align:left;
  max-width: 1250px;
  margin:auto;
  font-size: 36px;
  line-height: 120%;
  font-weight: bold;
  padding-bottom: 10px;


  -webkit-user-select: text; /* Chrome/Safari */        
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+ */
  -o-user-select: text;
  user-select: text;
}


.commands li{
  margin: 5px;
  padding 10px;
  display: inline-block;
  text-align: center;
}

.disclaimer{
/*selectable text*/
  -webkit-user-select: text;/* Chrome/Safari */        
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+ */
  -o-user-select: text;
  user-select: text;
}

.clickable_card {
    padding : 0px 3px;
}
